<?xml version="1.0" encoding="UTF-8"?>

<?define MSDPath = "$(var.SampleApp.TargetDir)\" ?>
<?define ProductName = "UOP MSD-PID Population Tool"?>
<?define BasePath = "$(var.SampleApp.TargetDir)\"?>
<?define tanukiBasePath = "$(var.SampleApp.TargetDir)"?>
<?define SolutionPath = "$(var.SolutionDir)\"?>
<?define ProjectDir = "$(var.SampleApp.ProjectDir)"?>
<?define ProductUpgradeCode = "47EFCC93-7990-48C1-8085-95459A9F7BE2"?>
<?define MSDEXE = "$(var.SampleApp.TargetFileName)"?>
<?define VERSION = !(bind.FileVersion.$(var.MSDEXE))?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductUpgradeCode)" Name="$(var.ProductName) $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="Honeywell\UOP LLC" UpgradeCode="$(var.ProductUpgradeCode)">
		<Package Id="*" Description="$(var.ProductName) $(var.VERSION)" Comments="$(var.ProductName)" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="SampleProduct" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SampleProduct" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(var.SampleApp.TargetPath)" />
      </Component>
      <Component>
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" />
          <RegistryValue Name="Version" Type="string" Value="[ProductVersion]" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
